*.dll
*.dylib
*.exe
*.exe~
*.iws
*.out
*.so
*.test
.idea/
.idea_modules/
atlassian-ide-plugin.xml
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
go.work
out/
